<!-- <p>sandbox works!</p> -->

<!-- <app-dynamic-form [configOptions]="localTestQuestionConfigOptions" [questions]="localTestQuestions"></app-dynamic-form> -->
<!-- <app-user-delete></app-user-delete> -->
<div
  style="
    margin-left: 100px;
    width: 500px;
    overflow: scroll;
    overflow-y: hidden;
    border-style: solid;
    border-color: black;
  "
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 500 500"
    #graphSpace
    width="500"
    height="500"
  ></svg>
</div>
