<div class="container" style="width: 500px;white-space: pre-line">
  <h2 class="center">Frequenty Asked Questions</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let qaPair of faqQuestions; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{qaPair.question}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{qaPair.answer}}
    </mat-expansion-panel>
  </mat-accordion>
</div>
