.subtitle{
  text-align: center;
}

.example-full-width {
  width: 100%;
}

input:not([read-only]) {
	border-bottom: none!important;
	box-shadow: none!important;
}

.align-middle-things{
  display: inline-flex;
  vertical-align: middle;
}
