<div [formGroup]="form">
  <div [appIndent]="question.indentThisQuestion">
    <div [ngSwitch]="question.controlType">
      <label [attr.for]="question.key" *ngSwitchCase="'textbox'">{{question.label}}</label>
      <input *ngSwitchCase="'textbox'" [formControlName]="question.key? question.key: null" [id]="question.key" [type]="question.type" [placeholder]="question.placeHolder">
      <mat-label *ngSwitchCase="'dropdown'" class="col s12 m7 l7">{{question.label}}</mat-label>
      <!-- <p>{{question.options}}</p> -->
      <mat-select class="col s12 m6 l6" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key? question.key: null">
        <mat-option *ngFor="let opt of question.dropdownOptions" [value]="opt.value">{{opt.value}}</mat-option>
      </mat-select>
    <div *ngSwitchCase="'textbox'">
      <mat-error *ngIf="!isValid">{{question.label}} is required</mat-error>
    </div>
    <div class="row col s12 m7 l7" *ngSwitchCase="'dropdown'">
      <mat-error *ngIf="!isValid">{{question.label}} is required</mat-error>
    </div>
    <div *ngSwitchCase="'datepicker'">
      <input matInput [matDatepicker]="picker" [placeholder]="localDatePickerPrompt" [formControlName]="question.key? question.key: null" [id]="question.key">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
    <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required
    </div> -->
  </div>
</div>
