<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s4">
        <input placeholder="E.g., IBJJF Gi Worlds" id="tournamentName" type="text" class="validate">
        <br>
        <label for="tournamentName">Tournament Name</label>
      </div>
      <div class="input-field col s4">
        <input placeholder="Anaheim, CA" id="location" type="text" class="validate">
        <br>
        <label for="location">Location</label>
      </div>
      <div class="input-field col s4">
        <!-- <input placeholder="Anaheim, CA" id="location" type="text" class="validate">
        <br>
        <label for="location">Location</label> -->
      </div>
    </div>

  </form>

</div>
