<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="subtitle">{{title}}</h3>
    </div>
  </div>
  <div class="row">
    <form class="col s12" materialize [formGroup]="newMatchForm">
      <div class="row">
        <!-- <mat-form-field class="example-full-width col s12"> -->
          <label for="matchURL" class="active" data-error="Not valid" data-success="Valid">Match URL</label>
          <input matInput [formControl]="matchUrlBoundFc" type="url" placeholder="Match URL" value="E.g., https://youtu.be/AYdi8oupOcs" id="matchURL" required>
          <mat-error *ngIf="!vs.validateUrl(matchUrlBoundFc.value)">{{getErrorMessage()}}</mat-error>
          <mat-error *ngIf="matchUrlBoundFc.invalid && vs.validateUrl(matchUrlBoundFc.value)">{{getErrorMessage()}}</mat-error>

        <mat-form-field class="col m6 s12">
          <mat-select [formControl]="athlete1NameBoundFc" placeholder="Choose Athlete 1 Name" id="athlete1-select">
            <mat-option value="" [disabled]="disabledAthleteName">Choose athlete 1 name</mat-option>
            <mat-option [value]="localAthlete1Name" (click)="openAddNameDialog(1)" color="accent" id="athlete-1-write-in">
              <button mat-flat-button color="accent">
                <span>
                  <i class="material-icons align-middle-things">add_circle</i>
                  Add a new name
                </span>
              </button>
            </mat-option>
            <mat-option *ngFor="let athlete1Name of athleteNames" [value]="athlete1Name" id="athlete-1-dropdown">{{athlete1Name}}</mat-option>
          </mat-select>
          <p *ngIf="localAthlete1Name">Athlete Selected: <span><mat-chip color="primary" selected>{{localAthlete1Name}}</mat-chip></span></p>
          <p *ngIf="athlete1NameBoundFc.value && !localAthlete1Name">Athlete Selected: <span><mat-chip color="primary" selected>{{athlete1NameBoundFc.value}}</mat-chip></span></p>

        </mat-form-field>

        <mat-form-field class="col m6 s12">
          <mat-select [formControl]="athlete2NameBoundFc" placeholder="Choose Athlete 2 Name" id="athlete2-select">
            <mat-option value="" [disabled]="disabledAthleteName">Choose athlete 2 name</mat-option>
            <mat-option [value]="localAthlete2Name" (click)="openAddNameDialog(2)" color="accent" id="athlete-2-write-in">
              <button mat-flat-button color="accent">
                <span>
                  <i class="material-icons align-middle-things">add_circle</i>
                  Add a new name
                </span>
              </button>
            </mat-option>
            <mat-option *ngFor="let athlete2Name of athleteNames" [value]="localAthlete2Name? localAthlete2Name:athlete2Name" id="athlete-2-dropdown">{{localAthlete2Name? localAthlete2Name:athlete2Name}}</mat-option>
          </mat-select>
          <p *ngIf="localAthlete2Name">Athlete Selected: <span><mat-chip color="primary" selected>{{localAthlete2Name}}</mat-chip></span></p>
          <p *ngIf="athlete2NameBoundFc.value && !localAthlete2Name">Athlete Selected: <span><mat-chip color="primary" selected>{{athlete2NameBoundFc.value}}</mat-chip></span></p>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col m6 s12">
          <mat-select [formControl]="tournamentNameBoundFc" placeholder="Choose Tournament Name" id="tournament-select">
            <mat-option value="" [disabled]="disabledTournamentName">Choose tournament name</mat-option>
            <mat-option [value]="localTournamentName" (click)="openTournamentNameDialog()" color="accent" id="tournament-name-write-in">
              <button mat-flat-button color="accent">
                <span>
                  <i class="material-icons align-middle-things">add_circle</i>
                  Add a new tournament name
                </span>
              </button>
            </mat-option>
            <mat-option *ngFor="let tournamentName of tournamentNames" [value]="tournamentName" id="tournament-name-dropdown">{{tournamentName}}</mat-option>
          </mat-select>
          <p *ngIf="localTournamentName">Tournament Selected: <span><mat-chip color="primary" selected>{{localTournamentName}}</mat-chip></span></p>
          <p *ngIf="tournamentNameBoundFc.value && !localTournamentName">Tournament Selected: <span><mat-chip color="primary" selected>{{tournamentNameBoundFc.value}}</mat-chip></span></p>

        </mat-form-field>
        <!-- <mat-form-field class="example-full-width"> -->
          <!-- <label for="tournamentName" class="active" data-error="Not valid" data-success="Valid">Tournament Name</label> -->
          <!-- <input matInput [formControl]="tournamentNameBoundFc" placeholder="Tournament Name" value="E.g., IBJJF Gi Worlds TODO" id="tournamentName" type="text"> -->
          <!-- <mat-error *ngIf="tournamentNameBoundFc.invalid">{{getErrorMessage()}}</mat-error> -->
          <br>
        <!-- </mat-form-field> -->
        <!-- <mat-form-field class="example-full-width"> -->
          <label for="location" class="active" data-error="Not valid" data-success="Valid">Location (City, (State), Country)</label>
          <input matInput [formControl]="locationBoundFc" placeholder="Location" value="E.g., Anaheim, CA, USA" id="location" type="text">
          <!-- <mat-error *ngIf="locationBoundFc.invalid">{{getErrorMessage()}}</mat-error> -->
          <br>
        <!-- </mat-form-field> -->
        <!-- <mat-form-field> -->
          <input matInput [formControl]="tournamentDateBoundFc" [matDatepicker]="picker" placeholder="Match Date (m/d/yyyy)" id="date-input">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker required="" id="test"></mat-datepicker>
          <!-- <mat-error *ngIf="tournamentDateBoundFc.invalid">{{getErrorMessage()}}</mat-error> -->
          <!-- <div class="validation-messages" ng-messages="newMatchForm.test.$error">
            <div ng-message="valid">The entered value is not a date!</div>
            <div ng-message="required">This date is required!</div>
          </div> -->
        <!-- </mat-form-field> -->
      </div>
      <div class="row">
        <div id="TODO">
          <div class="col s12 m2 switch">
            No Gi
            <mat-slide-toggle
              [formControl]="giStatusBoundFc"
              id="giStatus"
              [color]="$primary-color"
              (change)="changed()"
              [(ngModel)]="checked"
              >
              Gi
            </mat-slide-toggle>
          </div>
        </div>
        <mat-form-field class="col m2 s12">
          <mat-select [formControl]="genderBoundFc" placeholder="Gender" id="gender-select">
            <mat-option value="(choose)" [disabled]="disabledGender" >Choose gender</mat-option>
            <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [formControl]="ageClassBoundFc" id="ageClass" placeholder="Age Class">
            <mat-option value="(choose)" [disabled]="disabledAgeClass" >Choose age class</mat-option>
            <mat-option *ngFor="let age of ageClasses" [value]="age">{{age}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select [formControl]="rankBoundFc" id="rank" placeholder="{{rankType}} Rank" [ngModel]="rankSelection" (ngModelChange)="onChange($event)">
              <mat-option value="(choose)" disabled="true">Choose {{rankType}} rank</mat-option>
              <mat-option  *ngFor="let rank of ranks" [value]="rank">{{rank}}</mat-option>
              <mat-option  value="addNew" >Add new {{rankType}} rank</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [formControl]="weightBoundFc" id="weight" placeholder="Weight Class">
            <mat-option value="(choose)" [disabled]="disabledWeightClass" >Choose weight class</mat-option>
            <mat-option *ngFor="let weight of weightClasses" [value]="weight">{{weight}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button id="new-match-submit-button" [disabled]="!allValid(newMatchForm)"  class="btn modal-trigger waves-effect waves-light" data-target="modal1">Submit <!---[disabled]="!newMatchForm.valid" -->
        <i class="material-icons right">send</i>
      </button>
    </form>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Annotate your submission?</h4>
        <p>You can either go ahead and annotate your own submission, or it will be added to the annotation queue, to be annotated at some later time.</p>
      </div>
      <div class="modal-footer">
        <button id="annotate-modal-button" class="modal-action modal-close waves-effect waves-green btn" (click)="submitFormAndAnnotate()">Annotate</button>
        <button id="add-to-queue-modal-button" (click)="submitFormAndReturnToMain()" class="modal-action modal-close waves-effect waves-green btn">Add to Queue</button>
      </div>
    </div>

    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Create new rank</h4>
        <form [formGroup]="newRankForm">
          <div class="row">
            <mat-form-field class="example-full-width col s12">
              <input matInput formControlName="newRankBound" placeholder="Rank name" value="E.g., pink belt" id="newRank">
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn" (click)="submitRankFormAndAddToCandidateListAndAddRankTemporarilyToMatch()">Add</button>
      </div>
    </div>

  </div>
</div>
