<script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type='text/javascript' src='d3fire.min.js'></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.1.3"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.1.3"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.1.3"></script>
<br>
<div class="" *ngIf='user'>
  <div class="spinner-container" *ngIf="showLoader">
        <mat-spinner id="spinner"></mat-spinner>
  </div>
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- TODO add paidStatus to ngIf -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.rank}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="weightClass">
      <mat-header-cell *matHeaderCellDef> Weight Class </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.weightClass}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ageClass">
      <mat-header-cell *matHeaderCellDef> Age Class </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.ageClass}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="athlete1Name">
      <mat-header-cell *matHeaderCellDef> Athlete 1 </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.athlete1Name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="athlete2Name">
      <mat-header-cell *matHeaderCellDef> Athlete 2 </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.athlete2Name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.gender}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.location}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tournamentName">
      <mat-header-cell *matHeaderCellDef> Tournament </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.tournamentName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.date | date:'shortDate'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="matchRating">
      <mat-header-cell *matHeaderCellDef> Match Rating </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.matchRating}}</mat-cell>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>
    <ng-container matColumnDef="annotationRating">
      <mat-header-cell *matHeaderCellDef> Annotation Rating </mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{entry.annotationRating}}</mat-cell>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>
    <ng-container matColumnDef="videoUrl">
      <mat-header-cell *matHeaderCellDef> Video </mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <a routerLink="/matches/{{entry.id}}" name="videoClick">
          <!-- <button class="btn-floating halfwary-fab waves-effect waves-light tooltipped" matTooltip="Click To View Match In Detail"> -->
            <i class="material-icons right">movie</i>
          <!-- </button> -->
        </a>
      </mat-cell>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>
    <ng-container matColumnDef="deleteMatch">
      <mat-header-cell *matHeaderCellDef> Delete Match </mat-header-cell>
      <mat-cell *matCellDef="let entry" id={{entry.athlete1Name}}>
        <button id="delete-button" class="btn waves-effect waves-light" (click)="deleteMatch(entry.id)">Delete Match</button>
      </mat-cell>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
  </mat-table>
</div>
<mat-paginator [length]='matchCount' [pageSize]="10" [pageSizeOptions]="[2, 10, 20, 50, 500]"></mat-paginator>
