<div class="">
  <div class="row">
    <div class="">
      <div class="card title-buffer">
        <span class="card-title" id="match-display-name"><h5 class="centered match-title">Match: {{match?.matchDeets?.athlete1Name}} (left) vs. {{match?.matchDeets?.athlete2Name}} (right)</h5></span>
        <div class="card-image">
          <div class="video-container">
            <iframe id="videoIframe" src="https://www.youtube.com/embed/dzVF_uXk3EY?enablejsapi=1&html5=1&" frameborder="0" allowfullscreen="0"></iframe>
          </div>
          <a id="play" type="submit" value="play" class="btn-floating halfwary-fab waves-effect waves-light green tooltipped" data-position="bottom" data-delay="10" matTooltip="Start Match">
            <i class="material-icons">play_arrow</i>
          </a>
          <button id="begin-move" type="submit" value="begin-move" class="btn-floating halfwary-fab waves-effect waves-light tooltipped modal-trigger" data-target="annotationModal" data-position="bottom" data-delay="10" matTooltip="Mark Beginning of Move" [disabled]="!annotationFinishButtonDisabled">
            <i class="material-icons">arrow_drop_up</i>
          </button>
          <button id="end-move" type="submit" value="end-move" class="btn-floating halfwary-fab waves-effect waves-light tooltipped"  data-position="bottom" matTooltip="Mark End of Move" [disabled]="annotationFinishButtonDisabled">
            <i class="material-icons">arrow_drop_down</i>
          </button>
          <a id="pause-vid" type="submit" value="pause-vid" class="btn-floating halfwary-fab waves-effect green waves-light tooltipped"  data-position="bottom" matTooltip="Pause Video">
            <i class="material-icons">pause</i>
          </a>
          <span>
            <p>Current Move Being Annotated: <span><mat-chip color="primary" selected>{{selectedAnnotation}}</mat-chip></span></p>
          </span>
          <!-- <app-annotation-data-display></app-annotation-data-display> -->
          <!-- <input id="pause" type="submit" value="pause" /> -->
          <div class="flexbox-container">
            <div id="star-rating-div" class="flexbox-item">
              <p>Rate the <span class="emphasis">Match</span><span>
                <star-rating value="5" checkedcolor="purple" uncheckedcolor="black" size="24px"    readonly="false" (rate)="onRate($event)"></star-rating>
              </span></p>
              <p>Current Rating: {{matchAverageRating}}</p>
            </div>
            <div id="star-rating-div" class="flexbox-item">
              <p>Rate the <span class="emphasis">Annotation</span>
                <star-rating value="5" checkedcolor="gold" uncheckedcolor="black" size="24px"    readonly="false" (rate)="onRateAnnotation($event)"></star-rating>
              </p>
              <p>Current Rating: {{annotationAverageRating}}</p>
            </div>
          </div>
        </div>
        <div class="card-content">
          <app-annotated-moves-display></app-annotated-moves-display>
          <span><span class="match-label">Age Class: </span>{{match?.matchDeets?.ageClass}}</span>
          <br>
          <span class="match-label">Weight Class: </span>{{match?.matchDeets?.weightClass}}
          <br>
          <span class="match-label">Gi/Nogi: </span>{{match?.matchDeets?.giStatus}}
          <br>
          <span class="match-label">Tournament: </span>{{match?.matchDeets?.tournamentName}}
          <br>
          <span class="match-label">Location: </span>{{match?.matchDeets?.location}}
          <br>
          <span class="match-label">Rank: </span>{{match?.matchDeets?.rank}}

        </div>
      </div>
    </div>
    <div class="row">
      <div class="" id="annotation-display">
        <app-annotation-display (moveSelected)="onMoveSelected($event)"></app-annotation-display>
      </div>
    </div>
  </div>
</div>
