<div class="container" *ngIf="!user">
  <!-- <div class="row">
    <div class="col s12 m12">
      <h1 class="subtitle">{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <form class="col s12" materialize [formGroup]="newUserForm">
      <div class="row">
        <div class="input-field col m6 s12">
          <input matInput [formControl]="userNameBoundFc" type="text" placeholder="E.g., Eddie Bravo" id="userName" required>
          <label for="userName" class="active" data-error="Not valid" data-success="Valid">User Name</label>
          <mat-error *ngIf="userNameBoundFc.invalid">{{getErrorMessage()}}</mat-error>
        </div>
        <div class="input-field col m6 s12">
          <input matInput [formControl]="userEmailBoundFc" type="email" placeholder="E.g., Eddie.bravo@gmail.com" id="email" required>
          <label for="email" class="active" data-error="Not valid" data-success="Valid">Email Address</label>
          <mat-error *ngIf="userEmailBoundFc.invalid">{{getErrorMessage()}}</mat-error>
        </div>
        <div class="input-field col m6 s12">
          <input matInput #pwInput [formControl]="passwordBoundFc" type="password" placeholder="Password" id="password" required [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
            'visibility_off'}}</mat-icon>
            <label for="password">Password</label>
            <mat-hint align="end">{{pwInput.value?.length || 0}}/7</mat-hint>
            <mat-error *ngIf="passwordBoundFc.invalid">{{getErrorMessage()}}</mat-error>
          </div>
          <div class="input-field col m6 s12">
            <input matInput #confirmPwInput [formControl]="confirmPasswordBoundFc" type="password" placeholder="Confirm Password" id="confirm-password" required [type]="hideConfirm ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' :
              'visibility_off'}}</mat-icon>
              <label for="confirm-password">Confirm Password</label>
              <mat-hint align="end">{{confirmPwInput.value?.length || 0}}/7</mat-hint>
              <mat-error *ngIf="confirmPasswordBoundFc.invalid">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m4 s12">
              <input formControlName="userAffiliationBound" type="text" placeholder="E.g., Atos" id="affiliation" class="validate">
              <label for="affiliation">Gym Affiliation</label>
            </div>
            <div class="input-field col m4 s12">
              <mat-select formControlName="genderBound" id="gender" name="test">
                <mat-option value="" disabled selected name="chooseGender">Choose gender</mat-option>
                <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
              </mat-select>
              <label for="gender">Gender</label>
            </div>
            <div class="input-field col m4 s12">
              <mat-select formControlName="ageClassBound" materialize="material_select" id="ageClass">
                <mat-option value="(choose)" [disabled]="disabledAgeClass" name="chooseAgeClass">Choose age class</mat-option>
                <mat-option *ngFor="let ageClass of ageClasses" [value]="ageClass">{{ageClass}}</mat-option>
              </mat-select>
              <label for="ageClass">Age Class</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m3 s12">
              <mat-select formControlName="giRankBound" materialize="material_select" id="giRank">
                <mat-option value="(choose)" [disabled]="disabledGiRank" name="chooseGiRank">Choose gi rank</mat-option>
                <mat-option *ngFor="let giRank of giRanks" [value]="giRank">{{giRank}}</mat-option>
              </mat-select>
              <label for="giRank">Gi Rank</label>
            </div>
            <div class="input-field col m3 s12">
              <mat-select formControlName="noGiRankBound" materialize="material_select" id="noGiRank">
                <mat-option value="(choose)" [disabled]="disabledNoGiRank" name="chooseNoGiRank">Choose no gi rank</mat-option>
                <mat-option *ngFor="let noGiRank of noGiRanks" [value]="noGiRank">{{noGiRank}}</mat-option>
              </mat-select>
              <label for="noGiRank">No Gi Rank</label>
            </div>
            <div class="input-field col m3 s12">
              <input formControlName="weightBound" type="number" id="weight" placeholder="E.g., 156">
              <label for="weight">Weight (in lbs.)</label>
            </div>
            <div class="input-field col m3 s12">
              <mat-select formControlName="ageBound" materialize="material_select" id="age">
                <mat-option value="(choose)" [disabled]="disabledAge" name="chooseAge">Choose age</mat-option>
                <mat-option *ngFor="let age of ages" [value]="age">{{age}}</mat-option>
              </mat-select>
              <label for="age">Age</label>
            </div>
          </div>
          <div class="row">
            <mat-error *ngIf="passwordsNotEqual">Passwords are not equal</mat-error>
          </div>
          <div class="row">
            <button [disabled]="!allValid()"  class="btn waves-effect waves-light" (click)="processFormInputsToDB()" id="create-button">Create
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div> -->
      <app-dynamic-form [isFormOwner]="false" [configOptions]="localConfigOptions" [questions]="questionService.getAccountCreationQuestions()|async"></app-dynamic-form>
    </div>
