<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="subtitle">{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <form class="col s12" materialize [formGroup]="newAccountForm">
      <div class="row">
        <div class="input-field cols m6 s12">
          <input formControlName="userNameBound" type="text" placeholder="E.g., Eddie Bravo" id="userName" class="validate">
          <label for="userName" class="active" data-error="Not valid" data-success="Valid">User Name</label>
        </div>
        <div class="input-field cols m6 s12">
          <input formControlName="userEmailBound" type="email" placeholder="E.g., Eddie.bravo@gmail.com" id="email" class="validate">
          <label for="email" class="active" data-error="Not valid" data-success="Valid">Email Address</label>
        </div>
        <!-- giRank -->
        <!-- noGiRank -->
        <!-- affiliation -->
        <!-- age -->
        <!-- weight -->
        <!-- weightClass -->
      </div>

    </form>

  </div>
</div>
