<div class="flexbox-item" id="login-flexbox">
  <div class="spinner-container" *ngIf="showLoader" id="spinner-login">
    <mat-spinner id="spinner"></mat-spinner>
  </div>
  <div class="flexbox-vertical grey" *ngIf="!showLoader">
    <div *ngIf="user; else showLogin">
      <h1>Hello {{ user.getName() }}!</h1>
      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <button id="email-dialog-open-button" (click)="openSignInWithEmailDialog()" class="btn waves-effect waves-light button-space">Login with Email <i class="material-icons right">email</i></button>
      <button id="special-google-button" (click)="signInWithGoogle()" class="icon btn waves-effect waves-light button-space" disabled="true"></button>
      <!-- <button (click)="signInWithFacebook()" class="btn waves-effect waves-light button-space" disabled="true">Login with Facebook <i class="material-icons right">send</i></button> -->
      <button *ngIf="!loggedIn" id="new-account-button" type="button" (click)="newAccount()" class="btn waves-light blue button-space">Register New Account</button>
    </ng-template>
  </div>
</div>
