
<div class="flexbox-vertical" id="new-move-dialog">
  <h2 mat-dialog-title class="flex-item">Enter new move name</h2>
  <mat-dialog-content>
    <form materialize [formGroup]="form">
      <mat-form-field class="flex-item">
        <!-- <label for="videoUrl" class="active" data-error="Not valid" data-success="Valid">Last Name</label> -->
        <input matInput [formControl]="eventNameFc" placeholder="Move Name" id="eventNameFc" value="E.g., Triangle" required>
        <mat-error *ngIf="!vs.validateString(eventNameFc.value)">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="select-menu-wrapper">
        <mat-select [formControl]="eventCategoryFc" placeholder="Choose Move Category" id="move-category-select">
          <mat-option value="" [disabled]="displayCategoryName">Choose Move Category</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category" id="category-name-dropdown">{{category}}</mat-option>
        </mat-select>
        <mat-select class="select-menu-wrapper" *ngIf="displaySubcategorySelect" appendTo="body" [formControl]="moveSubcategoryFc" placeholder="Choose Move Subcategory" id="move-subcategory-select">
          <mat-option value="" [disabled]="displaySubcategorySelect">Choose Move Subcategory</mat-option>
          <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory" id="subcategory-name-dropdown">{{subcategory}}</mat-option>
        </mat-select>
      </div>
      <br>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex-item">
    <button class="btn waves-effect waves-light button-space" (click)="close(dialogRef)">
      Close
    </button>
    <button id="dialog-submit-button" class="btn waves-effect waves-light" (click)="processDialogData()" [disabled]="!allValid()">
      Submit
    </button>
  </mat-dialog-actions>
</div>
