<div>
  <form [formGroup]="form">
    <div id="wrapper-div-for-questions" *ngFor="let question of questions; let i = index" class="form-row">
      <app-question (isValidFormQuestion)="proccessIsFormQuestionValid($event)" (itemFromFormQuestion)="processItemFromQuestion($event)" [isFormOwner]="isFormOwner" [question]="question" [form]="form" class="col m{{question.mediumSize}} s{{question.smallSize}} l{{question.largeSize}}"></app-question>
      <div [appIndent]=question.indentThisQuestion>
        <div *ngIf="question.disableAddButtonIfCurrentValueIsBlank">
          <button (click)="addAnotherQuestion(question, questions, i, question.submitAfterThisQuestion)" *ngIf="question.giveOptionToAnswerThisQuestionMultipleTimes" id="add-new-item-button"  class="btn waves-effect waves-light" type="button" color="accent" [disabled]="!form.getRawValue()[question.key]">Add Another {{question.label}}
            <i class="material-icons right">add</i>
          </button>
        </div>
        <div *ngIf="!question.disableAddButtonIfCurrentValueIsBlank">
          <button (click)="addAnotherQuestion(question, questions, i, question.submitAfterThisQuestion)" *ngIf="question.giveOptionToAnswerThisQuestionMultipleTimes" id="add-new-item-button"  class="btn waves-effect waves-light" type="button" color="accent">Add Another {{question.label}}
            <i class="material-icons right">add</i>
          </button>
        </div>
      </div>
      <br>
      <div *ngIf="!question.disableAddNewQuestionGroupButtonIfCurrentValueIsBlank">
        <button (click)="addAnotherQuestionGroup(question, questions, i)" *ngIf="question.isThisQuestionTheLastOfAQuestionGroup" id="add-new-question-group-button"  class="btn waves-effect waves-light" type="button">Add Another {{question.findParentQuestion(question, questions, i).groupLabel}}
          <i class="material-icons right">add</i>
        </button>
      </div>
      <div *ngIf="question.disableAddNewQuestionGroupButtonIfCurrentValueIsBlank">
        <button (click)="addAnotherQuestionGroup(question, questions, i)" *ngIf="question.isThisQuestionTheLastOfAQuestionGroup" id="add-new-question-group-button"  class="btn waves-effect waves-light" type="button" [disabled]="!form.getRawValue()[question.key]">Add Another {{question.findParentQuestion(question, questions, i).groupLabel}}
          <i class="material-icons right">add</i>
        </button>
      </div>
    <div class="form-row">
      <button *ngIf="question.submitAfterThisQuestion" (click)="processForm(questions)" id="new-collection-submit" [disabled]="!form.valid"  class="btn waves-effect waves-light">{{localButtonDisplayName}}
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  </form>
</div>
<div>
  <p>Payload: {{payLoad}}</p>
</div>
