
<div class="flexbox-vertical">
  <h2 mat-dialog-title class="flex-item">Enter new athlete name</h2>
  <mat-dialog-content>
    <form materialize [formGroup]="form">
      <mat-form-field class="flex-item">
        <!-- <label for="videoUrl" class="active" data-error="Not valid" data-success="Valid">Last Name</label> -->
        <label for="lastFc">Last Name</label>
        <input matInput [formControl]="lastFc" placeholder="Last Name" id="lastFc" value="E.g., Mendes" required>
        <mat-error *ngIf="!vs.validateString(lastFc.value)">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="flex-item">
        <!-- <label for="videoUrl" class="active" data-error="Not valid" data-success="Valid">First Name</label> -->
        <label for="firstFc">First Name</label>
        <input matInput [formControl]="firstFc" placeholder="First Name" value="E.g., Rafael" required id="firstFc">
        <mat-error *ngIf="!vs.validateString(firstFc.value)">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex-item">
    <button class="btn waves-effect waves-light button-space" (click)="close()">
      Close
    </button>
    <button id="dialog-submit-button" class="btn waves-effect waves-light" (click)="processDialogData()" [disabled]="!allValid()">
      Submit
    </button>
  </mat-dialog-actions>
</div>
