<div class="flexbox-container">
  <div class="flexbox-item">
    <h4>Reputation Log</h4>
    <hr>
    <ol>
      <li *ngFor="let entry of (logEntries ? logEntries : [])">
        <ul>
          <li>
            <span>
              Date: {{textTransformationService.simplifyDateString(entry.date)}}
            </span>
          </li>
          <li>
            <span>
              Points Awarded/Deducted: {{entry.points}}
            </span>
          </li>
          <li>
            <span>
              Reason: {{entry.reason}}
            </span>
          </li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="flexbox-item">
    <h4>Your Subscription Status</h4>
    <hr>
    <app-stripe></app-stripe>
  </div>
  <div class="flexbox-item">
    <h4>Your Collections</h4>
    <hr>
    <app-user-collections-display></app-user-collections-display>
  </div>
</div>
