$primary-color: #000000;

.primary{
  background-color: $primary-color;
}

.subtitle{
  text-align: center;
}

.nav-wrapper{
  background-color: $primary-color;
}

.input-field{
  background-color: $primary-color;
}

.centered{
  text-align: center;
}

#vertical-button{
  margin-left: 1.5em;
}

#settings-button{
  margin-right: 5.5em;
}
