$primary-color: #000000;

.primary{
  background-color: $primary-color;
}

.subtitle{
  text-align: center;
}

.nav-wrapper{
  background-color: $primary-color;
}

.input-field{
  background-color: $primary-color;
}

.centered{
  text-align: center;
}
