<nav>
  <div class="nav-wrapper">
    <ul>
      <li><a href="#" class="brand-logo center">{{title}}</a></li>
    </ul>
  </div>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down flexbox-container">
      <li><a routerLink="matches" *ngIf="paidStatus"><i class="material-icons">home</i></a></li>
      <li *ngIf="user && paidStatus"><a routerLink="newmatch" >New Match</a></li>
      <li *ngIf="user && paidStatus"><a routerLink="matches" >View All Matches</a></li>
      <li *ngIf="user && paidStatus"><a routerLink="annotate" >Annotate a video</a></li>
      <li *ngIf="user && paidStatus"><a (click)="logout()" id="logOutLink">Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="flexbox-item">
  <app-user-status-report *ngIf="authenticationStatus"></app-user-status-report>
</div>
<div class="flexbox-container-alt">
  <div class="huge-flexbox-item">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="!authenticationStatus" class="flexbox-item">
  <!-- empty -->
</div>
