<script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type='text/javascript' src='d3fire.min.js'></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.1.3"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.geom.js?2.1.3"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.1.3"></script>
<br>
<div class="" *ngIf='user'>
  <div class="spinner-container" *ngIf="isLoadingResults">
        <mat-spinner id="spinner"></mat-spinner>
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- TODO add paidStatus to ngIf -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
      <td mat-cell *matCellDef="let entry"> {{entry.videoDeets.rank}} </td>
    </ng-container>
    <ng-container matColumnDef="weightClass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight Class </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.weightClass}}> {{entry.videoDeets.weightClass}} </td>
    </ng-container>
    <ng-container matColumnDef="ageClass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age Class </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.ageClass}}> {{entry.videoDeets.ageClass}} </td>
    </ng-container>
    <ng-container matColumnDef="athlete1Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Athlete 1 </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.athlete1Name}}> {{entry.videoDeets.athlete1Name}} </td>
    </ng-container>
    <ng-container matColumnDef="athlete2Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Athlete 2 </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.athlete2Name}}> {{entry.videoDeets.athlete2Name}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.gender}}> {{entry.videoDeets.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.location}}> {{entry.videoDeets.location}} </td>
    </ng-container>
    <ng-container matColumnDef="tournamentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tournament </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.tournamentName}}> {{entry.videoDeets.tournamentName}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.date}}> {{entry.videoDeets.date | date:'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="videoRating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Match Rating </th>
      <td mat-cell *matCellDef="let entry"> {{entry.videoRating}}</td>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>
    <ng-container matColumnDef="annotationRating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Annotation Rating </th>
      <td mat-cell *matCellDef="let entry"> {{entry.annotationRating}}</td>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>
    <ng-container matColumnDef="annotationsInMatch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="true"> Moves </th>
      <td mat-cell *matCellDef="let entry" [hidden]="true"> {{entry.eventsAsCommaDelimitedString}}</td>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>
    <ng-container matColumnDef="videoUrl">
      <th mat-header-cell *matHeaderCellDef> Video </th>
      <td mat-cell *matCellDef="let entry">
        <a routerLink="/matches/{{entry.id}}" name="videoClick">
          <!-- <button class="btn-floating halfwary-fab waves-effect waves-light tooltipped" matTooltip="Click To View Match In Detail"> -->
            <i class="material-icons right">movie</i>
          <!-- </button> -->
        </a>
      </td>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>
    <ng-container matColumnDef="deleteMatch">
      <th mat-header-cell *matHeaderCellDef> Delete Match </th>
      <td mat-cell *matCellDef="let entry" id={{entry.videoDeets.location}}>
        <button id="delete-button" class="btn waves-effect waves-light" (click)="deleteMatch(entry.id)">Delete Match</button>
      </td>
      <!-- <i class="material-icons right">video</i> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
<mat-paginator [length]='matchCount' [pageSize]="10" [pageSizeOptions]="[2, 10, 20, 50, 500]" id="all-matches-paginator"></mat-paginator>
