<h4>Administrator Tasks</h4>
<div class="flexbox-container">
  <div class="flexbox-item">
    <app-athlete-name-approval></app-athlete-name-approval>
  </div>
  <div class="flexbox-item">
    <app-move-name-approval></app-move-name-approval>
  </div>
  <!-- <div class="flexbox-item">
    <app-tournament-name-approval></app-tournament-name-approval>
  </div> -->
  <!-- <div class="flexbox-item">
    <app-weight-class-name-approval></app-weight-class-name-approval>
  </div> -->
  <div class="flexbox-item">
    <app-base-approval [approvalConfig]="localTournamentNameApprovalConfig"></app-base-approval>
  </div>
  <div class="flexbox-item">
    <app-base-approval [approvalConfig]="localWeightClassApprovalConfig"></app-base-approval>
  </div>
  <div class="flexbox-item">
    <app-base-approval [approvalConfig]="localNoGiApprovalConfig"></app-base-approval>
  </div>
  <div class="flexbox-item">
    <app-base-approval [approvalConfig]="localAgeClassApprovalConfig"></app-base-approval>
  </div>
  <div class="flexbox-item">
    <app-base-approval [approvalConfig]="localLocationNameApprovalConfig"></app-base-approval>
  </div>
</div>
