<div id="annotationModal" class="modal">
  <div class="modal-content">
    <h4>Add an annotation to the match</h4>
    <p>Annotation Selected: <span><mat-chip color="primary" selected>{{selectedAnnotation}}</mat-chip></span></p>
    <div id="tree-div">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="selectItem(node.item)">
          <!-- <button mat-icon-button disabled id="node-button"></button> -->
          <div matRipple [matRippleColor]="black">
            {{node.item}}
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.item}}
        <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
  </div>
  <div id="action-performer-form-div">

    <div class="row">
      <!-- <div class="col m12 s12"> -->
        <mat-form-field class="col m12 s12">
          <mat-select [formControl]="performerFg" id="performer" required  placeholder="Who performed the action?">
            <mat-option *ngFor="let performer of performers" [value]="performer">{{performer}}</mat-option>
          </mat-select>
        </mat-form-field>
      <!-- </div> -->
    </div>
    <div class="row">
      <mat-form-field class="col m12 s12">
        <mat-label>How many points was the move worth in this match format, if any?</mat-label>
        <input matInput [formControl]="points" type="number" id="points" placeholder="E.g., 0">
        <mat-error *ngIf="points.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
          <label>Is this a submission? </label>
          <mat-radio-group name="submission-radio" [(ngModel)]="submissionStatus">
            <mat-radio-button value="Yes" id="yes-radio-button">Yes </mat-radio-button>
            <mat-radio-button value="No" id="no-radio-button">No </mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="row">
          <label>Was this a successful attempt? </label>
          <mat-radio-group name="attempt-radio" [(ngModel)]="attemptStatus">
            <mat-radio-button value="Yes" id="successful-radio-button">Successful Attempt </mat-radio-button>
            <mat-radio-button value="No" id="unsuccessful-radio-button">Unsuccessful Attempt </mat-radio-button>
          </mat-radio-group>
    </div>

    <div id="buttons-div">
      <p>Annotation Selected: <span><mat-chip color="primary" selected>{{selectedAnnotation}}</mat-chip></span></p>
      <div class="row">
          <button type="submit" [disabled]="!points.valid || !performerFg.valid || !moveValidStatus" class="btn waves-effect waves-light modal-action modal-close" (click)="processFormInputs()" id="done-button-performers">Done
          <i class="material-icons right">send</i>
        </button>
        <button id="modal-cancel-button" class="modal-action modal-close waves-effect waves-green btn" (click)="respondToAnnotationCancel()">Cancel</button>
      </div>
    </div>

  </div>
</div>
</div>
