<div id="annotationModal" class="modal">
  <div class="modal-content">
    <h4>Add an annotation to the match</h4>
    <p>Annotation Selected: <span><mat-chip color="primary" selected>{{selectedAnnotation}}</mat-chip></span></p>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="selectItem(node.item)">
          <button mat-icon-button disabled></button>
          {{node.item}}
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.item}}
          <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar"></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
  <div id="action-performer-form-div">
    <form class="col s12 m12" materialize [formGroup]="performerFormGroup">
      <div class="row">
        <div class="input-field col m12 s12">
          <ul>
            <li *ngFor="let performer of performers">{{performer}}</li>
          </ul>
          <select formControlName="performerBound" materialize="material_select" id="performer">
            <option value="(choose)" [disabled]="disabledPerformer" name="choosePerformer">Who performed the action?</option>
            <option *ngFor="let performer of performers">{{performer}}</option>
          </select>
          <label for="performer">Performer</label>
        </div>
      </div>
      <div class="row">
        <button [disabled]="!validStatus"  class="btn waves-effect waves-light" (click)="processFormInputs()" id="done-button-performers">Done
          <i class="material-icons right">send</i>
        </button>
        <button class="modal-action modal-close waves-effect waves-green btn">Cancel</button>
      </div>
    </form>
  </div>
</div>
</div>
