<div class="flexbox-container-vertical-left">
  <p class="flex-item">
    <span><i class="material-icons" [appUnsuccessfulAnnotation]="true">label</i></span> = Denotes an unsuccessful attempt
  </p>
  <p class="flex-item">
    <span ><i class="material-icons" [appSubmissionAnnotation]="true">label</i></span> = Denotes a submission
  </p>
  <p class="flex-item">
    <span ><i class="material-icons" [appAnnotationScoredPoints]="true">label</i></span> = Denotes an annotation in which an individual scored points
  </p>
</div>
