<div class="flexbox-container-vertical-left">
  <p class="flex-item">
    <span ><i class="material-icons" [appMatchActionDelimiter]="true">label</i></span> = Denotes an annotation that marks the beginning or end of a match
  </p>
  <p class="flex-item">
    <span><i class="material-icons" [appUnsuccessfulAnnotation]="true">label</i></span> = Denotes an unsuccessful attempt
  </p>
  <p class="flex-item">
    <span ><i class="material-icons" [appAdvantage]="true">label</i></span> = Denotes an annotation in which an individual is awarded an advantage
  </p>
  <p class="flex-item">
    <span ><i class="material-icons" [appAnnotationScoredPoints]="true">label</i></span> = Denotes an annotation in which an individual scored points
  </p>
  <p class="flex-item">
    <span ><i class="material-icons" [appSubmissionAnnotation]="true">label</i></span> = Denotes a submission
  </p>
  <p class="flex-item">
    <span ><i class="material-icons" [appWinDraw]="true">label</i></span> = Denotes an annotation in which an individual is declared the winner or a draw is indicated
  </p>
  <p class="flex-item">
    <span ><i class="material-icons" [appFlaggedAnnotation]="true">label</i></span> = Denotes an annotation that has been flagged by at least {{localMinFlagCount}} user(s)
  </p>
</div>
