<h5>Confirm new athlete names:</h5>
<div class="flexbox-container small-black-border">
  <div class="flexbox-item">
    <ul>
      <li *ngFor="let candidateName of localCandidateAthleteNames">
        {{candidateName}}
        <span matTooltip="Approve" (click)="approveName(candidateName)">
          <i class="material-icons">thumb_up</i>
        </span>
        <span matTooltip="Disapprove" (click)="disapproveName(candidateName)">
          <i class="material-icons">thumb_down</i>
        </span>
      </li>
    </ul>
  </div>
  <div class="flexbox-item">
    <h5>Athlete names already in the database (for reference)</h5>
    <hr>
    <ul>
      <li *ngFor="let athleteName of localAtheleteNames">
        {{athleteName}}
        <span (click)="deleteAthleteName(athleteName)" *ngIf="localIsAdmin">
          <i class="material-icons">delete</i>
        </span>
      </li>
    </ul>
  </div>
</div>
