<div class="card title-buffer">
  <span class="card-title">Option 1: Payment</span>
  <div class="card-content">
    Payment options: ${{constants.monthlyCost}}/month,
    <br>
    ${{constants.halfYearCost}}/6 months,
    <br>
    ${{constants.yearlyCost}}/year
  </div>
</div>

<div class="card title-buffer">
  <span class="card-title">Option 2: Annotate</span>
  <div class="card-content">
    Payment will be waived if you <a routerLink="annotate">annotate</a> {{constants.requiredAnnotationsPerMonth}} videos per month.
  </div>
</div>
