/* You can add global styles to this file, and also import other style files */
$primary-color: green;
.centered {
  text-align: center
}

.btn-floating{
  margin-left: 8px;
  margin-top: 8px;
}

.title-buffer{
  padding-top: 1px;
}

.match-label{
  font-size: 18px;
  font-weight: bold;
}
