
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
// $primary-color: green;

.centered {
  text-align: center
}

.btn-floating{
  margin-left: 8px;
  margin-top: 8px;
}

.title-buffer{
  padding-top: 1px;
}

.match-label{
  font-size: 18px;
  font-weight: bold;
}

.attention-draw{

}

// .cdk-global-overlay-wrapper, .cdk-overlay-container {
//     z-index: 50000 !important;
//  }

.cdk-global-overlay-wrapper,
.cdk-overlay-container,
.cdk-overlay-connected-position-bounding-box {
    z-index: 9999!important;
}

.flexbox-container{
  display: flex;
  justify-content: flex-start;
}

.flexbox-container-vertical-left{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flexbox-container-alt{
  width: 100%;
  display: flex;
  justify-content: center;
}

.flexbox-vertical{
  width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grey {
  background-color: #e6e8e7;
}

.flexbox-item{
  padding: 0.5em;
  margin: 0.5em;
  border: 5px solid #fffff;
}

.huge-flexbox-item{
  flex-grow: 1
  // width: 75%;
}

.small-flexbox-item{
  width: 25%;
}

.stripe-checkout-wrapper{
  // border: 1px solid #000000;
  width: 75%;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.stripe-checkout-item{
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  border: 1px solid #e6e4df;
  flex: initial;
  width: 50em;
}

.login-button-item{
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  flex: initial;
  width: 50em;
}

.button-space{
  margin: 1.2em;
}

.align-right{
  float: right;
}

.number-in-video-time-button{
  margin-bottom: 0.2em;
}

.small-black-border{
  border-style: solid;
}

.attention{
  color: '{{primary-color}}';
  // background-color: '{{accent-color}}';
}

.no-padding{
  padding: 0;
}

.move-left{
  margin-left: 0.2em;
}

.bold{
  font-weight: bold;
}

.indent-me{
  margin-left: 0.5em;
}
.indent-me-double{
  margin-left: 1em;
}

.spinner-container{
  align-items: center;
}

.black-border{
  border: 0.2em solid black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-input-underline {
    display: none;
}
