
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
// $primary-color: green;

.centered {
  text-align: center
}

.btn-floating{
  margin-left: 8px;
  margin-top: 8px;
}

.title-buffer{
  padding-top: 1px;
}

.match-label{
  font-size: 18px;
  font-weight: bold;
}

.attention-draw{

}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }

.flexbox-container{
  display: flex;
  justify-content: flex-start;
}

.flexbox-container-vertical-left{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flexbox-container-alt{
  width: 100%;
  display: flex;
  justify-content: center;
}

.flexbox-vertical{
  width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grey {
  background-color: #e6e8e7;
}

.button-space{
  margin: 1.2em;
}

.align-right{
  float: right;
}

.number-in-video-time-button{
  margin-bottom: 0.2em;
}

.small-black-border{
  border-style: solid;
}

.attention{
  color: '{{primary-color}}';
  // background-color: '{{accent-color}}';
}

.no-padding{
  padding: 0;
}

.move-left{
  margin-left: 0.2em;
}

.little-list{
  font-size: 80%;
  margin-left: 0.5em;
}

.flexbox-item{
  padding: 0.5em;
  margin: 0.5em;
  border: 5px solid #fffff;
}

.huge-flexbox-item{
  margin-left: 0.2em;
  margin-right: 0.2em;
  flex-grow: 1
  // width: 75%;
}

.small-flexbox-item{
  width: 25%;
}
