<div class="flexbox-item">
  <h4>Reputation Log</h4>
  <hr>
  <ol>
    <li *ngFor="let entry of (logEntries ? logEntries : [])">
      <ul>
        <li>
          <span>
            Date: {{textTransformationService.simplifyDateString(entry.date)}}
          </span>
        </li>
        <li>
          <span>
            Points Awarded/Deducted: {{entry.points}}
          </span>
        </li>
        <li>
          <span>
            Reason: {{entry.reason}}
          </span>
        </li>
      </ul>
    </li>
  </ol>
</div>
